.box {
  width: 500px;
  border: 1px solid black;
}

.item-img {
  width: 400px;
}
.main {
  display: flex;
  justify-content: center;
}

.win {
  border: 10px solid gold;
  color: gold;
}
.lose {
  border: 10px solid red;
  color: red;
}
.tie {
  border: 10px solid purple;
  color: purple;
}
